{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendly API",
    "version": "1.0.0",
    "description": "Sendly's public REST API. Authenticate with a project API key as `Authorization: Bearer <api-key>` (`sk_*` for full access, `pk_*` for sending-only), with a BetterAuth session cookie, or — for AI agents and other delegated clients — with an OAuth 2.1 access token carrying the scopes its user approved. An operation lists the scope it requires under `OAuth2`; an operation that lists none refuses delegated tokens outright, whatever scopes they hold. Legacy `/api/*` endpoints return JSON envelopes of the form `{ success, data }` (success) or `{ error: { message, code } }` (failure). `/api/v1/*` endpoints return bare resource bodies on success and RFC 9457 `application/problem+json` documents on failure.",
    "contact": {
      "name": "Sendly Support",
      "url": "https://sendly.now"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.txt"
    }
  },
  "servers": [
    {
      "url": "https://api.sendly.now"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Send transactional email and inspect deliveries."
    },
    {
      "name": "Campaigns",
      "description": "Bulk sends to a list, segment, or filtered audience. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Segments",
      "description": "Saved audiences — a `DYNAMIC` filter re-evaluated on read, or a `STATIC` membership list. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Contacts",
      "description": "Manage subscribers and per-contact custom data."
    },
    {
      "name": "Lists",
      "description": "Self-serve list membership. These two endpoints accept sending-only keys so they can back a public subscribe/unsubscribe form; list management itself is dashboard-only."
    },
    {
      "name": "Domains",
      "description": "Register sending domains and manage SES verification."
    },
    {
      "name": "Templates",
      "description": "Reusable email templates referenced by send operations."
    },
    {
      "name": "Webhooks",
      "description": "User-managed outbound webhooks for email and contact events."
    },
    {
      "name": "API Keys",
      "description": "Project-scoped sending/API credentials. All four operations are documented; minting and rotation answer with a one-time reveal link rather than the secret, so a delegated caller never receives a key it could use."
    },
    {
      "name": "Suppression",
      "description": "Project-scoped suppression list. Hard bounces and complaints land here automatically."
    },
    {
      "name": "Workflows",
      "description": "Event-triggered automations and the contact runs through them. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Events",
      "description": "Track custom contact events from your application."
    },
    {
      "name": "Analytics",
      "description": "Aggregate sending and engagement metrics. Every read is bounded to a window of at most 90 days and cached for 15 minutes."
    },
    {
      "name": "Deliverability",
      "description": "Why mail from one of your domains is or is not arriving: DNS identity, recent delivery outcomes, and one recipient's suppression state, composed into findings."
    },
    {
      "name": "Usage",
      "description": "Current email usage against the monthly and daily limits the platform enforces."
    },
    {
      "name": "Projects",
      "description": "The project a credential is scoped to, and creating new ones. Configuring an existing project stays a dashboard action."
    },
    {
      "name": "Mailboxes",
      "description": "Real receiving mailboxes on your verified domains. Creating one changes how that domain's mail is routed; the messages a mailbox receives are not part of this API."
    },
    {
      "name": "Verify",
      "description": "Open email-validation endpoint (no auth required). Used by the marketing-site verifier."
    },
    {
      "name": "Validation",
      "description": "Bulk email validation, billed per address: a bounded synchronous batch, and background runs over a whole list. Distinct from `Verify`, which is the one open, unauthenticated, single-address endpoint the marketing site calls."
    },
    {
      "name": "Topics",
      "description": "The subjects you mail about, and what each contact has said about them. A topic answer is a standing decision rather than an audience filter: it applies whatever audience a campaign selects, so it cannot be routed around by choosing a different one."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication. Use a `sk_*` (FULL) or `pk_*` (SENDING_ONLY) key as the bearer token. Public keys (`pk_*`) are restricted to the email-send endpoints and the self-serve list subscribe/unsubscribe pair; every other endpoint — event tracking included — answers 403 for them. In scope terms (used by `/api/v1/*` operations): FULL keys hold every scope; SENDING_ONLY keys hold only `emails:send`."
      },
      "SessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "BetterAuth session cookie. Used by the dashboard / browser clients. When present, the active project is taken from the `x-project-id` header."
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 with PKCE, for AI agents and other delegated clients (this is what the MCP endpoint at `/api/mcp` uses). Tokens are minted through the consent screen and carry ONLY the scopes the user ticked there, so an operation lists the single scope it requires and a token without it answers `403` with code `SCOPE_MISSING` — before any input is parsed. Unlike an API key, a delegated token reaches an operation only where the route itself declares a scope; every other route refuses it outright.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.sendly.now/api/auth/oauth2/authorize",
            "tokenUrl": "https://app.sendly.now/api/auth/oauth2/token",
            "scopes": {
              "emails:send": "Send emails from your verified domains",
              "emails:read": "View the emails you have sent and their delivery status",
              "contacts:read": "View your contacts and their custom fields",
              "contacts:write": "Create, update, and delete your contacts",
              "campaigns:read": "View your campaigns and their performance",
              "campaigns:write": "Create, edit, and organize your campaigns",
              "segments:read": "View your segments and who belongs to them",
              "segments:write": "Create, edit, and delete your segments",
              "workflows:read": "View your automation workflows and their runs",
              "workflows:write": "Create, edit, enable, and delete your automation workflows",
              "templates:read": "View your email templates",
              "templates:write": "Create, edit, and delete your email templates",
              "domains:read": "View your sending domains and their verification status",
              "domains:write": "Add and remove sending domains, and trigger verification",
              "webhooks:read": "View your webhook endpoints and their delivery history",
              "webhooks:write": "Create, edit, and delete your webhook endpoints",
              "suppression:read": "View the addresses on your suppression list",
              "suppression:write": "Add and remove addresses on your suppression list",
              "analytics:read": "View your sending analytics and engagement metrics",
              "usage:read": "View your usage totals and billing limits",
              "events:read": "View the custom events your application has recorded",
              "events:write": "Record custom events for your contacts",
              "projects:read": "View your projects and their settings",
              "projects:write": "Create new projects on your account",
              "api-keys:read": "See which API keys exist, including what each one is allowed to do",
              "api-keys:write": "Create, rotate, and revoke API keys — these keep working even after you disconnect this app",
              "campaigns:send": "Send or schedule your campaigns to their audience",
              "mailboxes:read": "View the mailboxes on your domains and their settings",
              "mailboxes:write": "Create and delete mailboxes on your verified domains",
              "emails:test": "Send test emails to your own address from the Sendly sandbox",
              "deliverability:read": "Check why mail from one of your domains is not arriving",
              "mailboxes:send": "Write and send new email from your hosted mailboxes, as that address",
              "validation:read": "View your email validation runs and their results",
              "validation:write": "Check whether email addresses can receive mail — this is billed per address",
              "topics:read": "View the topics you mail about and who is subscribed to each",
              "topics:write": "Create and edit topics, and change what your contacts are subscribed to — this decides who your campaigns reach",
              "lists:read": "View your subscriber lists and who is on them",
              "lists:write": "Create, rename, and delete your subscriber lists"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "errors": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "errors"
                ]
              }
            },
            "required": [
              "message",
              "code"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Standard error envelope returned by all 4xx/5xx responses. Migrated routes include `success: false`; 422 validation errors add `error.details.errors`."
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Dereferenceable URI identifying the error class, anchored on the docs errors page."
          },
          "title": {
            "type": "string",
            "description": "Short, stable summary — the same for every occurrence of a `type`."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code, repeated in the body."
          },
          "detail": {
            "type": "string",
            "description": "Explanation specific to this occurrence."
          },
          "instance": {
            "type": "string",
            "description": "Request path the failure occurred on."
          },
          "code": {
            "type": "string",
            "description": "Machine-readable lowercase error code, e.g. `scope_missing`."
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id — quote it in support requests."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string",
                  "description": "RFC 6901 JSON Pointer to the offending field."
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "pointer",
                "code",
                "message"
              ]
            },
            "description": "Field-level failures. Present on 422 `validation_error` responses."
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code"
        ],
        "description": "RFC 9457 problem document, served as `application/problem+json`. Returned by every 4xx/5xx response on the `/api/v1` surface."
      },
      "SuccessEmpty": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ],
        "description": "Bare success envelope with no payload."
      },
      "IdResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Success envelope carrying the affected resource's id, e.g. after a delete."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscribed": {
            "type": "boolean"
          },
          "customFields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "email",
          "subscribed",
          "createdAt",
          "updatedAt"
        ],
        "description": "A subscriber/contact within a project."
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "total": {
                "type": "integer"
              },
              "nextCursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Cursor for the next page, or null on the last page."
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "data",
              "total",
              "nextCursor",
              "hasMore"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of contacts."
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": [
              "string",
              "null"
            ]
          },
          "replyTo": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "emailCategory": {
            "type": "string",
            "enum": [
              "MARKETING",
              "TRANSACTIONAL",
              "SELF_MANAGED_UNSUBSCRIBE"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "subject",
          "body",
          "from",
          "emailCategory",
          "createdAt",
          "updatedAt"
        ],
        "description": "A reusable email template."
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Template"
                }
              },
              "total": {
                "type": "integer"
              },
              "cursor": {
                "type": "string",
                "description": "Cursor for the next page; omitted on the last page."
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "data",
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of templates."
      },
      "Snippet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "The literal identifier a template includes with `{{> name}}`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "body": {
            "type": "string",
            "description": "Template markup. Values it interpolates are escaped like any other."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "body",
          "createdAt",
          "updatedAt"
        ],
        "description": "A reusable fragment of template markup."
      },
      "SnippetListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Snippet"
                }
              },
              "total": {
                "type": "integer"
              },
              "cursor": {
                "type": "string",
                "description": "Cursor for the next page; omitted on the last page."
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "data",
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of snippets."
      },
      "EmailDeliveryStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "SENDING",
          "SENT",
          "DELIVERED",
          "RECEIVED",
          "BOUNCED",
          "FAILED",
          "REJECTED",
          "RENDERING_FAILURE",
          "DELIVERY_DELAY",
          "CANCELLED"
        ],
        "description": "Delivery lifecycle of the message. Engagement is reported separately."
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "dkim": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          },
          "mailFromDomain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom MAIL FROM subdomain SES has on record (normally `sendly.<domain>`)."
          },
          "mailFromDomainStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Pending",
              "Success",
              "Failed",
              "TemporaryFailure",
              "NotConfigured",
              null
            ],
            "description": "SES custom MAIL FROM setup state. Only `Success` means SES is using it."
          },
          "stream": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              null
            ],
            "description": "Which traffic this identity carries. `null` means unassigned, and an unassigned identity carries every stream — the behaviour of every domain added before per-stream identities. A send whose stream does not match an ASSIGNED identity is refused."
          },
          "streamDefault": {
            "type": "boolean",
            "description": "Whether this is the project's default identity for its stream — the one a send picks when it names no from-address. At most one per (project, stream)."
          },
          "defaultFromAddress": {
            "type": [
              "string",
              "null"
            ],
            "description": "The address a send on this stream uses when it names none. Always on this identity's own host."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "verified",
          "createdAt",
          "updatedAt"
        ],
        "description": "A sending identity: one domain registered with SES, with its own DKIM keys, its own MAIL FROM and its own reputation."
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "List of all domains for the auth'd project."
      },
      "DomainVerificationStatus": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean"
          },
          "mxRecords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dkim": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          },
          "mailFromDomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "mailFromDomainStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Pending",
              "Success",
              "Failed",
              "TemporaryFailure",
              "NotConfigured",
              null
            ],
            "description": "SES custom MAIL FROM setup state. Only `Success` means SES is using it."
          }
        },
        "required": [
          "verified"
        ],
        "description": "Outcome of a verification check against SES."
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/EmailDeliveryStatus"
          },
          "openedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "First open, or null."
          },
          "clickedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "First click, or null."
          },
          "complainedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Spam complaint, or null."
          },
          "opens": {
            "type": "integer",
            "description": "Total opens recorded."
          },
          "clicks": {
            "type": "integer",
            "description": "Total clicks recorded."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "from",
          "to",
          "subject",
          "status",
          "openedAt",
          "clickedAt",
          "complainedAt",
          "opens",
          "clicks",
          "tags",
          "createdAt",
          "updatedAt"
        ],
        "description": "A sent (or queued) transactional email."
      },
      "EmailEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/EmailDeliveryStatus"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "status",
          "timestamp"
        ],
        "description": "One transition in a message's delivery history."
      },
      "EmailWithEvents": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Email"
          },
          {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmailEvent"
                },
                "description": "Delivery transitions for this message, oldest first. NOT the custom events recorded with `POST /api/v1/events` — those are a separate resource."
              }
            },
            "required": [
              "events"
            ]
          }
        ],
        "description": "A transactional email together with its delivery history."
      },
      "SendEmailRecipientResult": {
        "type": "object",
        "properties": {
          "contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "id",
              "email"
            ]
          },
          "email": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "contact",
          "email"
        ],
        "description": "Per-recipient result: the upserted `contact` (id + email) and `email` — the id of the queued email record for that recipient."
      },
      "SendEmailData": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendEmailRecipientResult"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "emails",
          "timestamp"
        ],
        "description": "Result of a send (`executeSendEmail`): one `emails` entry per recipient — a single request with an array `to` fans out to several — plus the send `timestamp`."
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/SendEmailData"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Successful response for `POST /api/emails`. `data.emails[i].email` is the queued email id for recipient `i`; poll `GET /api/emails/{id}` for its delivery status."
      },
      "BatchEntryResult": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/SendEmailData"
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            },
            "required": [
              "message",
              "code"
            ]
          }
        },
        "required": [
          "index",
          "status"
        ],
        "description": "Per-row result in a batch send response."
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchEntryResult"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Multi-status response for `POST /api/emails/batch`. HTTP 207 if any entry failed, else 200."
      },
      "BatchSendBody": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendEmail"
            },
            "minItems": 1,
            "maxItems": 100
          }
        },
        "required": [
          "emails"
        ],
        "description": "Batch send wrapper. Up to 100 entries."
      },
      "SendEmail": {
        "type": "object",
        "properties": {
          "to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "email"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  ]
                }
              }
            ]
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 998,
            "pattern": "^[^\\r\\n]*$"
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "template": {
            "type": "string",
            "format": "uuid"
          },
          "subscribed": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "from": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[^\\r\\n]*$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            ]
          },
          "reply": {
            "type": "string",
            "format": "email"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 998,
              "pattern": "^[^\\r\\n]*$"
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\r\\n\"]+$"
                },
                "content": {
                  "type": "string",
                  "minLength": 1
                },
                "contentType": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "contentId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^<>\\r\\n]+$"
                },
                "disposition": {
                  "type": "string",
                  "enum": [
                    "attachment",
                    "inline"
                  ],
                  "default": "attachment"
                }
              },
              "required": [
                "filename",
                "content",
                "contentType"
              ]
            },
            "maxItems": 10
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[a-zA-Z0-9_-]+$"
            },
            "maxItems": 10
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "required": [
          "to"
        ],
        "description": "Body for POST /api/emails — send a single transactional email. Either `template` or `subject`+`body` is required."
      },
      "ContactBulkCreateBody": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateContact"
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": [
          "contacts"
        ],
        "description": "Bulk create up to 1000 contacts."
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscribed": {
            "type": "boolean",
            "default": true
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/contacts and /api/contacts/upsert."
      },
      "ContactBulkDeleteBody": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 1000
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "maxItems": 1000
          }
        },
        "description": "Bulk delete contacts. Provide either `ids` or `emails` (max 1000 each)."
      },
      "UpdateContactBody": {
        "type": "object",
        "properties": {
          "subscribed": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "description": "Body for PATCH /api/contacts/{id}. `email` is immutable here — use upsert to change addresses."
      },
      "Suppression": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "reason": {
            "type": "string",
            "enum": [
              "HARD_BOUNCE",
              "COMPLAINT",
              "MANUAL",
              "UNSUBSCRIBE"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "SES_WEBHOOK",
              "API",
              "DASHBOARD"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "email",
          "reason",
          "source",
          "createdAt"
        ],
        "description": "A single suppressed-email record."
      },
      "SuppressionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Suppression"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of suppressions."
      },
      "SuppressionCheckResponse": {
        "type": "object",
        "properties": {
          "suppressed": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "enum": [
              "HARD_BOUNCE",
              "COMPLAINT",
              "MANUAL",
              "UNSUBSCRIBE"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "SES_WEBHOOK",
              "API",
              "DASHBOARD"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "suppressed"
        ],
        "description": "Result of GET /api/suppression/{email} — whether the address is suppressed."
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.opened",
                "email.clicked",
                "email.bounced",
                "email.complained",
                "email.failed",
                "contact.created",
                "contact.unsubscribed",
                "contacts.bulk_created"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "DISABLED"
            ]
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "disabledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "lastFour": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "url",
          "eventTypes",
          "status",
          "consecutiveFailures",
          "createdAt",
          "updatedAt"
        ],
        "description": "A user-managed outbound webhook."
      },
      "WebhookCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Webhook"
              },
              {
                "type": "object",
                "properties": {
                  "secret": {
                    "type": "string",
                    "description": "Plaintext shared secret. Returned ONCE on create."
                  }
                },
                "required": [
                  "secret"
                ]
              }
            ],
            "description": "A user-managed outbound webhook."
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Result of POST /api/webhooks. `secret` is the only time the plaintext is returned — store it securely."
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "List of webhooks for the auth'd project."
      },
      "WebhookGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Webhook"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Single webhook (no secret)."
      },
      "WebhookRotateSecretResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "secret": {
                "type": "string",
                "description": "New plaintext shared secret."
              }
            },
            "required": [
              "id",
              "secret"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/webhooks/{id}/rotate-secret — returns the new plaintext once."
      },
      "WebhookCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {}
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SUCCESS",
              "FAILED"
            ]
          },
          "attempt": {
            "type": "integer"
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "webhookId",
          "eventType",
          "payload",
          "status",
          "attempt",
          "createdAt"
        ],
        "description": "An attempted webhook delivery."
      },
      "WebhookCallsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookCall"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of recent calls for a single webhook."
      },
      "TrackEventResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "contact": {
                "type": "string",
                "format": "uuid"
              },
              "event": {
                "type": "string",
                "format": "uuid"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 datetime string"
              }
            },
            "required": [
              "contact",
              "event",
              "timestamp"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/track."
      },
      "VerifyEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "valid": {
                "type": "boolean"
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "valid"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/verify — outcome of the syntax/MX/disposable check."
      },
      "EmailListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of emails."
      },
      "EmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Email"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "A single email."
      },
      "EmailDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/EmailWithEvents"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "One email and its delivery history."
      },
      "ListSubscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "membershipId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "CONFIRMED",
                  "UNSUBSCRIBED"
                ]
              },
              "created": {
                "type": "boolean",
                "description": "True when the membership row did not exist before this call."
              },
              "previousStatus": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "PENDING",
                  "CONFIRMED",
                  "UNSUBSCRIBED",
                  null
                ],
                "description": "Status the membership held before this call; null when it did not exist. Use this rather than `created` to describe the transition to the user."
              },
              "confirmToken": {
                "type": "string",
                "description": "Present only when the list has doubleOptIn enabled. Sendly does not send the confirmation email — deliver /api/lists/confirm-subscription?token=<confirmToken> to the contact. Valid for 24 hours."
              }
            },
            "required": [
              "membershipId",
              "status",
              "created",
              "previousStatus"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Result of a list-subscribe call."
      },
      "ListUnsubscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "email"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Echoes the address that was unsubscribed."
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "lastFour": {
            "type": "string",
            "description": "Last 4 characters of the token — the only fragment of the secret that survives creation."
          },
          "legacyGrantPreset": {
            "type": "string",
            "enum": [
              "FULL",
              "SENDING_ONLY"
            ],
            "description": "The coarse preset the key was minted under. It picks the token prefix (`sk_` vs `pk_`) and the rate-limit window, and it is the key's authority ONLY while `scopes` is empty — which is true just of keys minted before scopes existed. Read `scopes` to learn what a key can do."
          },
          "mode": {
            "type": "string",
            "enum": [
              "LIVE",
              "TEST"
            ],
            "description": "Where mail sent with this key may go. `LIVE` sends from your verified domains. `TEST` can only send from this project's sandbox address, whose recipient list is your own verified account addresses, so a test key cannot reach a customer whatever it is asked to do. Fixed at creation."
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "emails:send",
                "emails:read",
                "contacts:read",
                "contacts:write",
                "campaigns:read",
                "campaigns:write",
                "segments:read",
                "segments:write",
                "workflows:read",
                "workflows:write",
                "templates:read",
                "templates:write",
                "domains:read",
                "domains:write",
                "webhooks:read",
                "webhooks:write",
                "suppression:read",
                "suppression:write",
                "analytics:read",
                "usage:read",
                "events:read",
                "events:write",
                "projects:read",
                "projects:write",
                "api-keys:read",
                "api-keys:write",
                "campaigns:send",
                "mailboxes:read",
                "mailboxes:write",
                "emails:test",
                "deliverability:read",
                "mailboxes:send",
                "validation:read",
                "validation:write",
                "topics:read",
                "topics:write",
                "lists:read",
                "lists:write"
              ]
            },
            "description": "The explicit scope grant this key carries. Empty on a key minted before this column existed — that row's grant is derived from `legacyGrantPreset` instead at request time."
          },
          "domainId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Set once the key is revoked. Revoked keys are NOT filtered out of list/get responses."
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "lastFour",
          "legacyGrantPreset",
          "mode",
          "scopes",
          "domainId",
          "lastUsedAt",
          "createdAt",
          "revokedAt"
        ],
        "description": "An API key's metadata. Never carries the token or its hash — `lastFour` is the only surviving fragment of the secret once the key has been created."
      },
      "ApiKeyListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Every API key on the project, including revoked ones — filter on `revokedAt` for live keys."
      },
      "ProjectRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean"
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "sandboxHandle": {
            "type": [
              "string",
              "null"
            ],
            "description": "Local-part of the sandbox quick-start sender; null until first derived."
          },
          "stripeCustomerId": {
            "type": [
              "string",
              "null"
            ]
          },
          "stripeSubscriptionId": {
            "type": [
              "string",
              "null"
            ]
          },
          "billingLimitWorkflows": {
            "type": [
              "integer",
              "null"
            ]
          },
          "billingLimitCampaigns": {
            "type": [
              "integer",
              "null"
            ]
          },
          "billingLimitTransactional": {
            "type": [
              "integer",
              "null"
            ]
          },
          "billingLimitInbound": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tracking": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED",
              "MARKETING_ONLY"
            ]
          },
          "sesRegion": {
            "type": [
              "string",
              "null"
            ]
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 code for customer-facing content."
          },
          "organizationId": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "name",
          "disabled",
          "disabledReason",
          "sandboxHandle",
          "stripeCustomerId",
          "stripeSubscriptionId",
          "billingLimitWorkflows",
          "billingLimitCampaigns",
          "billingLimitTransactional",
          "billingLimitInbound",
          "tracking",
          "sesRegion",
          "language",
          "organizationId",
          "createdAt",
          "updatedAt"
        ]
      },
      "CampaignV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of campaigns."
      },
      "CampaignV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "SENDING",
              "PAUSED",
              "SENT",
              "CANCELLED"
            ]
          },
          "subject": {
            "type": "string"
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT",
              "LIST"
            ]
          },
          "list_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "topic_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_recipients": {
                "type": "integer"
              },
              "sent": {
                "type": "integer"
              },
              "delivered": {
                "type": "integer"
              },
              "opened": {
                "type": "integer"
              },
              "clicked": {
                "type": "integer"
              },
              "bounced": {
                "type": "integer"
              }
            },
            "required": [
              "total_recipients",
              "sent",
              "delivered",
              "opened",
              "clicked",
              "bounced"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "subject",
          "audience_type",
          "list_id",
          "topic_id",
          "scheduled_at",
          "sent_at",
          "created_at",
          "stats"
        ],
        "description": "A campaign as exposed on the v1 API."
      },
      "CampaignV1Create": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender address. Its domain must be verified for this project."
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "email_category": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "SELF_MANAGED_UNSUBSCRIBE"
            ],
            "default": "MARKETING"
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT",
              "LIST"
            ],
            "description": "`ALL` — every subscribed contact. `FILTERED` — the contacts matching `audience_condition`. `SEGMENT` — the members of `segment_id`. `LIST` — the CONFIRMED members of `list_id`, which is the only audience that honours double opt-in: a member who never confirmed, or who unsubscribed, is not mailed."
          },
          "audience_condition": {
            "$ref": "#/components/schemas/FilterConditionV1"
          },
          "segment_id": {
            "type": "string",
            "format": "uuid"
          },
          "list_id": {
            "type": "string",
            "format": "uuid",
            "description": "Required when `audience_type` is `LIST`. Only that list's CONFIRMED members receive the campaign."
          },
          "topic_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The subject this campaign is about. A contact who unsubscribed from the topic is excluded WHATEVER the audience type — a topic opt-out is a standing answer, not an audience filter, so it cannot be routed around by selecting a different audience. Ignored for `TRANSACTIONAL` campaigns, which a marketing preference does not cancel."
          }
        },
        "required": [
          "name",
          "subject",
          "body",
          "from",
          "audience_type"
        ],
        "description": "Body for POST /api/v1/campaigns. `segment_id` is required when `audience_type` is `SEGMENT`, `audience_condition` when it is `FILTERED`, and `list_id` when it is `LIST`."
      },
      "FilterConditionV1": {
        "type": "object",
        "properties": {
          "logic": {
            "type": "string",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterGroupV1"
            },
            "minItems": 1
          }
        },
        "required": [
          "logic",
          "groups"
        ],
        "description": "A filter condition: one or more groups combined with `logic`."
      },
      "FilterGroupV1": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentFilterV1"
            }
          },
          "conditions": {
            "$ref": "#/components/schemas/FilterConditionV1"
          }
        },
        "required": [
          "filters"
        ],
        "description": "A group of filters. The filters inside one group ALWAYS combine with AND; `conditions` nests a further condition under this group, which is how OR-of-ANDs (and deeper) is expressed."
      },
      "SegmentFilterV1": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "minLength": 1
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals",
              "notEquals",
              "contains",
              "notContains",
              "greaterThan",
              "lessThan",
              "greaterThanOrEqual",
              "lessThanOrEqual",
              "exists",
              "notExists",
              "within",
              "olderThan",
              "triggered",
              "triggeredWithin",
              "triggeredOlderThan",
              "notTriggered",
              "notTriggeredWithin",
              "isMemberOf"
            ]
          },
          "value": {},
          "unit": {
            "type": "string",
            "enum": [
              "days",
              "hours",
              "minutes"
            ]
          }
        },
        "required": [
          "field",
          "operator"
        ],
        "description": "One comparison. `field` addresses a contact column (`email`, `createdAt`, …) or a `customFields.<key>` path. `value` is whatever the operator compares against — its JSON type follows the field, and it is omitted entirely for the presence operators (`exists`, `notExists`). `unit` applies only to the relative-time operators (`within`, `olderThan`, and the `triggered*` family)."
      },
      "CampaignV1Update": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender address. Its domain must be verified for this project."
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "email_category": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "SELF_MANAGED_UNSUBSCRIBE"
            ]
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT",
              "LIST"
            ]
          },
          "audience_condition": {
            "$ref": "#/components/schemas/FilterConditionV1"
          },
          "segment_id": {
            "type": "string",
            "format": "uuid"
          },
          "list_id": {
            "type": "string",
            "format": "uuid",
            "description": "Required when `audience_type` is `LIST`. Only that list's CONFIRMED members receive the campaign."
          },
          "topic_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The subject this campaign is about. A contact who unsubscribed from the topic is excluded WHATEVER the audience type — a topic opt-out is a standing answer, not an audience filter, so it cannot be routed around by selecting a different audience. Ignored for `TRANSACTIONAL` campaigns, which a marketing preference does not cancel."
          }
        },
        "description": "Body for PATCH /api/v1/campaigns/{id}. All fields optional."
      },
      "CampaignV1Deleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Acknowledgement that a campaign was deleted."
      },
      "CampaignV1Send": {
        "type": "object",
        "properties": {
          "scheduled_for": {
            "type": "string",
            "format": "date-time",
            "description": "RFC 3339 timestamp, strictly in the future. A numeric UTC offset (`+02:00`) is accepted as well as `Z`. Omit to start sending immediately."
          }
        },
        "description": "Body for POST /api/v1/campaigns/{id}/send."
      },
      "CampaignV1Stats": {
        "type": "object",
        "properties": {
          "total_recipients": {
            "type": "integer"
          },
          "sent": {
            "type": "integer"
          },
          "delivered": {
            "type": "integer"
          },
          "opened": {
            "type": "integer"
          },
          "clicked": {
            "type": "integer"
          },
          "bounced": {
            "type": "integer"
          },
          "open_rate": {
            "type": "number"
          },
          "click_rate": {
            "type": "number"
          },
          "bounce_rate": {
            "type": "number"
          },
          "delivery_rate": {
            "type": "number"
          }
        },
        "required": [
          "total_recipients",
          "sent",
          "delivered",
          "opened",
          "clicked",
          "bounced",
          "open_rate",
          "click_rate",
          "bounce_rate",
          "delivery_rate"
        ],
        "description": "Materialized delivery and engagement counters for one campaign."
      },
      "CampaignV1FailureList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignV1Failure"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          },
          "total": {
            "type": "integer",
            "description": "Every FAILED row on this campaign, not just this page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor",
          "total"
        ],
        "description": "Cursor-paginated list of a campaign's failed sends."
      },
      "CampaignV1Failure": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Ledger row id. Pass the last one as `after` to page."
          },
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "The recipient the send was for."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "failed_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "contact_id",
          "email",
          "reason",
          "failed_at"
        ],
        "description": "A campaign recipient whose send did not complete."
      },
      "CampaignV1RetryFailed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "queued": {
            "type": "integer",
            "description": "How many FAILED rows the retry walk was started for, counted when it was queued."
          }
        },
        "required": [
          "id",
          "queued"
        ],
        "description": "Acknowledgement that a retry of a campaign's failed sends began."
      },
      "SegmentV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of segments."
      },
      "SegmentV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "DYNAMIC",
              "STATIC"
            ]
          },
          "condition": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FilterConditionV1"
              },
              {
                "type": "null"
              }
            ]
          },
          "track_membership": {
            "type": "boolean"
          },
          "member_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "condition",
          "track_membership",
          "member_count",
          "created_at",
          "updated_at"
        ],
        "description": "A segment as exposed on the v1 API."
      },
      "SegmentV1Create": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "type": {
            "type": "string",
            "enum": [
              "DYNAMIC",
              "STATIC"
            ],
            "default": "DYNAMIC"
          },
          "condition": {
            "$ref": "#/components/schemas/FilterConditionV1"
          },
          "track_membership": {
            "type": "boolean",
            "default": false,
            "description": "Emit segment entry/exit events as contacts move in and out. Off by default — it costs a membership write per transition."
          }
        },
        "required": [
          "name"
        ],
        "description": "Body for POST /api/v1/segments. `condition` is required when `type` is `DYNAMIC`."
      },
      "SegmentV1Update": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "condition": {
            "$ref": "#/components/schemas/FilterConditionV1"
          },
          "track_membership": {
            "type": "boolean"
          }
        },
        "description": "Body for PATCH /api/v1/segments/{id}. `type` is deliberately absent — it is fixed at creation. `condition` is ignored on a STATIC segment."
      },
      "SegmentV1Deleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Acknowledgement that a segment was deleted."
      },
      "SegmentContactV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentContactV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of the contacts belonging to a segment."
      },
      "SegmentContactV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "subscribed": {
            "type": "boolean"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "email",
          "subscribed",
          "custom_fields",
          "created_at"
        ],
        "description": "A contact belonging to a segment."
      },
      "WorkflowV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of workflows."
      },
      "WorkflowV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "trigger_type": {
            "type": "string",
            "enum": [
              "EVENT",
              "MANUAL",
              "SCHEDULE"
            ]
          },
          "event_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trigger event for `EVENT` workflows; null for the other trigger types."
          },
          "allow_reentry": {
            "type": "boolean"
          },
          "max_executions_per_hour": {
            "type": [
              "integer",
              "null"
            ]
          },
          "version": {
            "type": "integer",
            "description": "Incremented on every structural (step/transition) change."
          },
          "step_count": {
            "type": "integer",
            "description": "Steps in this workflow's graph, trigger step included — so a workflow that has only ever been created reports 1. Read `/graph` for the steps themselves."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "enabled",
          "trigger_type",
          "event_name",
          "allow_reentry",
          "max_executions_per_hour",
          "version",
          "step_count",
          "created_at",
          "updated_at"
        ],
        "description": "An automation workflow as exposed on the v1 API."
      },
      "WorkflowCreateV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "trigger_type": {
            "$ref": "#/components/schemas/WorkflowTriggerTypeV1"
          },
          "event_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "The custom event that starts this workflow, e.g. `user.signup`. Required for `EVENT` workflows (the default) and ignored for the other trigger types."
          },
          "interval_ms": {
            "type": "integer",
            "minimum": 60000,
            "maximum": 2592000000,
            "description": "For `SCHEDULE` workflows: how often the workflow fires, in milliseconds. Between one minute and 30 days; defaults to one hour."
          },
          "enabled": {
            "type": "boolean",
            "description": "Workflows are created disabled. A workflow can only be enabled once every step is configured."
          },
          "allow_reentry": {
            "type": "boolean"
          },
          "sequence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowSequenceStepV1"
            },
            "minItems": 1,
            "maxItems": 199,
            "description": "Optional LINEAR chain to create the workflow with, in run order. The trigger step is prepended and each step is wired to the next, so this cannot express branches — use `PUT /api/v1/workflows/{id}/graph` for those. Omit it to create a workflow that holds only its trigger step."
          }
        },
        "required": [
          "name"
        ],
        "description": "Body for POST /api/v1/workflows."
      },
      "WorkflowTriggerTypeV1": {
        "type": "string",
        "enum": [
          "EVENT",
          "MANUAL",
          "SCHEDULE"
        ],
        "description": "What starts this workflow. Defaults to `EVENT`, which is the only kind the API created before this field existed. `EVENT` requires `event_name`; `SCHEDULE` uses `interval_ms`; `MANUAL` is started only by `POST /api/v1/workflows/{id}/executions`."
      },
      "WorkflowSequenceStepV1": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/WorkflowSequenceStepTypeV1"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Human-readable label, e.g. `Day 0: welcome`."
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "number",
                "boolean",
                "object",
                "array",
                "null"
              ],
              "additionalProperties": {},
              "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
            },
            "description": "Step configuration. Keys are camelCase — see `WorkflowStepV1` for the shape each step type expects."
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "description": "For `SEND_EMAIL`: a template in this project."
          }
        },
        "required": [
          "type",
          "name",
          "config"
        ],
        "description": "One step of a linear workflow sequence."
      },
      "WorkflowSequenceStepTypeV1": {
        "type": "string",
        "enum": [
          "SEND_EMAIL",
          "DELAY",
          "WAIT_FOR_EVENT",
          "CONDITION",
          "EXIT",
          "WEBHOOK",
          "UPDATE_CONTACT",
          "SEND_AT_OPTIMAL_TIME"
        ],
        "description": "A step kind that may appear in a linear `sequence`. `TRIGGER` is prepended by the server."
      },
      "WorkflowUpdateV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "trigger_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowTriggerTypeV1"
              },
              {
                "description": "What starts a workflow. `EVENT`: a custom event you record. `MANUAL`: only an explicit API call. `SCHEDULE`: a fixed repeating interval."
              }
            ]
          },
          "event_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "interval_ms": {
            "type": "integer",
            "minimum": 60000,
            "maximum": 2592000000,
            "description": "For `SCHEDULE` workflows: how often the workflow fires, in milliseconds. Between one minute and 30 days; defaults to one hour."
          },
          "enabled": {
            "type": "boolean"
          },
          "allow_reentry": {
            "type": "boolean"
          },
          "max_executions_per_hour": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0,
            "description": "Per-workflow start rate cap. `null` removes the cap."
          },
          "sequence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowSequenceStepV1"
            },
            "minItems": 1,
            "maxItems": 199,
            "description": "Optional LINEAR chain that REPLACES every non-trigger step, in run order. Destructive: the existing steps are discarded and their ids do not survive, which is why omitting this field leaves the graph untouched. Branches need `PUT /api/v1/workflows/{id}/graph` instead."
          }
        },
        "description": "Body for PATCH /api/v1/workflows/{id}. Every field is optional; omitted fields are left unchanged. Changing the trigger while executions are running answers 409."
      },
      "WorkflowDeletedV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Confirmation that a workflow was deleted."
      },
      "WorkflowExecutionV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowExecutionV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of workflow executions, newest first."
      },
      "WorkflowExecutionV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "RUNNING",
              "WAITING",
              "COMPLETED",
              "EXITED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "current_step_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "exit_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workflow_id",
          "contact_id",
          "status",
          "current_step_id",
          "exit_reason",
          "started_at",
          "completed_at"
        ],
        "description": "One contact's run through a workflow."
      },
      "WorkflowExecutionStartV1": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Contact to enter the workflow. Must belong to this project."
          },
          "context": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "number",
                "boolean",
                "object",
                "array",
                "null"
              ],
              "additionalProperties": {},
              "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
            },
            "description": "Extra variables merged into the contact's data for this run."
          }
        },
        "required": [
          "contact_id"
        ],
        "description": "Body for POST /api/v1/workflows/{id}/executions."
      },
      "WorkflowStatsV1": {
        "type": "object",
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "trigger_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowTriggerTypeV1"
              },
              {
[...]
