{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendly API",
    "version": "1.0.0",
    "description": "Sendly's public REST API. Authenticate either with a project API key as `Authorization: Bearer <api-key>` (`sk_*` for full access, `pk_*` for sending-only) or with a BetterAuth session cookie. Legacy `/api/*` endpoints return JSON envelopes of the form `{ success, data }` (success) or `{ error: { message, code } }` (failure). `/api/v1/*` endpoints return bare resource bodies on success and RFC 9457 `application/problem+json` documents on failure.",
    "contact": {
      "name": "Sendly Support",
      "url": "https://sendly.now"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.txt"
    }
  },
  "servers": [
    {
      "url": "https://api.sendly.now"
    }
  ],
  "tags": [
    {
      "name": "Emails",
      "description": "Send transactional email and inspect deliveries."
    },
    {
      "name": "Campaigns",
      "description": "Bulk sends to a list, segment, or filtered audience. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Segments",
      "description": "Saved audiences — a `DYNAMIC` filter re-evaluated on read, or a `STATIC` membership list. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Contacts",
      "description": "Manage subscribers and per-contact custom data."
    },
    {
      "name": "Lists",
      "description": "Self-serve list membership. These two endpoints accept sending-only keys so they can back a public subscribe/unsubscribe form; list management itself is dashboard-only."
    },
    {
      "name": "Domains",
      "description": "Register sending domains and manage SES verification."
    },
    {
      "name": "Templates",
      "description": "Reusable email templates referenced by send operations."
    },
    {
      "name": "Webhooks",
      "description": "User-managed outbound webhooks for email and contact events."
    },
    {
      "name": "Suppression",
      "description": "Project-scoped suppression list. Hard bounces and complaints land here automatically."
    },
    {
      "name": "Workflows",
      "description": "Event-triggered automations and the contact runs through them. Served by the `/api/v1` surface (bare payloads, RFC 9457 errors)."
    },
    {
      "name": "Events",
      "description": "Track custom contact events from your application."
    },
    {
      "name": "Analytics",
      "description": "Aggregate sending and engagement metrics. Every read is bounded to a window of at most 90 days and cached for 15 minutes."
    },
    {
      "name": "Usage",
      "description": "Current email usage against the monthly and daily limits the platform enforces."
    },
    {
      "name": "Verify",
      "description": "Open email-validation endpoint (no auth required). Used by the marketing-site verifier."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication. Use a `sk_*` (FULL) or `pk_*` (SENDING_ONLY) key as the bearer token. Public keys (`pk_*`) are restricted to the email-send endpoints and the self-serve list subscribe/unsubscribe pair; every other endpoint — event tracking included — answers 403 for them. In scope terms (used by `/api/v1/*` operations): FULL keys hold every scope; SENDING_ONLY keys hold only `emails:send`."
      },
      "SessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "BetterAuth session cookie. Used by the dashboard / browser clients. When present, the active project is taken from the `x-project-id` header."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "errors": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "errors"
                ]
              }
            },
            "required": [
              "message",
              "code"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Standard error envelope returned by all 4xx/5xx responses. Migrated routes include `success: false`; 422 validation errors add `error.details.errors`."
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Dereferenceable URI identifying the error class, anchored on the docs errors page."
          },
          "title": {
            "type": "string",
            "description": "Short, stable summary — the same for every occurrence of a `type`."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code, repeated in the body."
          },
          "detail": {
            "type": "string",
            "description": "Explanation specific to this occurrence."
          },
          "instance": {
            "type": "string",
            "description": "Request path the failure occurred on."
          },
          "code": {
            "type": "string",
            "description": "Machine-readable lowercase error code, e.g. `scope_missing`."
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id — quote it in support requests."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointer": {
                  "type": "string",
                  "description": "RFC 6901 JSON Pointer to the offending field."
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "pointer",
                "code",
                "message"
              ]
            },
            "description": "Field-level failures. Present on 422 `validation_error` responses."
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code"
        ],
        "description": "RFC 9457 problem document, served as `application/problem+json`. Returned by every 4xx/5xx response on the `/api/v1` surface."
      },
      "SuccessEmpty": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "success"
        ],
        "description": "Bare success envelope with no payload."
      },
      "IdResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "id"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Success envelope carrying the affected resource's id, e.g. after a delete."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscribed": {
            "type": "boolean"
          },
          "customFields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "email",
          "subscribed",
          "createdAt",
          "updatedAt"
        ],
        "description": "A subscriber/contact within a project."
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "total": {
                "type": "integer"
              },
              "nextCursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Cursor for the next page, or null on the last page."
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "data",
              "total",
              "nextCursor",
              "hasMore"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of contacts."
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": [
              "string",
              "null"
            ]
          },
          "replyTo": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "MARKETING",
              "TRANSACTIONAL",
              "HEADLESS"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "subject",
          "body",
          "from",
          "type",
          "createdAt",
          "updatedAt"
        ],
        "description": "A reusable email template."
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Template"
                }
              },
              "total": {
                "type": "integer"
              },
              "cursor": {
                "type": "string",
                "description": "Cursor for the next page; omitted on the last page."
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "data",
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of templates."
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "dkim": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          },
          "mailFromDomain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom MAIL FROM subdomain SES has on record (normally `sendly.<domain>`)."
          },
          "mailFromStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Pending",
              "Success",
              "Failed",
              "TemporaryFailure",
              "NotConfigured",
              null
            ],
            "description": "SES custom MAIL FROM setup state. Only `Success` means SES is using it."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "verified",
          "createdAt",
          "updatedAt"
        ],
        "description": "A sending domain registered with SES."
      },
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "List of all domains for the auth'd project."
      },
      "DomainVerificationStatus": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean"
          },
          "mxRecords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dkim": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "name",
                "value"
              ]
            }
          },
          "mailFromDomain": {
            "type": [
              "string",
              "null"
            ]
          },
          "mailFromStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Pending",
              "Success",
              "Failed",
              "TemporaryFailure",
              "NotConfigured",
              null
            ],
            "description": "SES custom MAIL FROM setup state. Only `Success` means SES is using it."
          }
        },
        "required": [
          "verified"
        ],
        "description": "Outcome of a verification check against SES."
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SENT",
              "DELIVERED",
              "OPENED",
              "CLICKED",
              "BOUNCED",
              "COMPLAINED",
              "FAILED"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "from",
          "to",
          "subject",
          "status",
          "tags",
          "createdAt",
          "updatedAt"
        ],
        "description": "A sent (or queued) transactional email."
      },
      "SendEmailRecipientResult": {
        "type": "object",
        "properties": {
          "contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "id",
              "email"
            ]
          },
          "email": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "contact",
          "email"
        ],
        "description": "Per-recipient result: the upserted `contact` (id + email) and `email` — the id of the queued email record for that recipient."
      },
      "SendEmailData": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendEmailRecipientResult"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "emails",
          "timestamp"
        ],
        "description": "Result of a send (`executeSendEmail`): one `emails` entry per recipient — a single request with an array `to` fans out to several — plus the send `timestamp`."
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/SendEmailData"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Successful response for `POST /api/emails`. `data.emails[i].email` is the queued email id for recipient `i`; poll `GET /api/emails/{id}` for its delivery status."
      },
      "BatchEntryResult": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/SendEmailData"
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            },
            "required": [
              "message",
              "code"
            ]
          }
        },
        "required": [
          "index",
          "status"
        ],
        "description": "Per-row result in a batch send response."
      },
      "BatchSendResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchEntryResult"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Multi-status response for `POST /api/emails/batch`. HTTP 207 if any entry failed, else 200."
      },
      "BatchSendBody": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendEmail"
            },
            "minItems": 1,
            "maxItems": 100
          }
        },
        "required": [
          "emails"
        ],
        "description": "Batch send wrapper. Up to 100 entries."
      },
      "SendEmail": {
        "type": "object",
        "properties": {
          "to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "email"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  ]
                }
              }
            ]
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 998,
            "pattern": "^[^\\r\\n]*$"
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "template": {
            "type": "string",
            "format": "uuid"
          },
          "subscribed": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "from": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[^\\r\\n]*$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            ]
          },
          "reply": {
            "type": "string",
            "format": "email"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 998,
              "pattern": "^[^\\r\\n]*$"
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^\\r\\n\"]+$"
                },
                "content": {
                  "type": "string",
                  "minLength": 1
                },
                "contentType": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "contentId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "pattern": "^[^<>\\r\\n]+$"
                },
                "disposition": {
                  "type": "string",
                  "enum": [
                    "attachment",
                    "inline"
                  ],
                  "default": "attachment"
                }
              },
              "required": [
                "filename",
                "content",
                "contentType"
              ]
            },
            "maxItems": 10
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "^[a-zA-Z0-9_-]+$"
            },
            "maxItems": 10
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "required": [
          "to"
        ],
        "description": "Body for POST /api/emails — send a single transactional email. Either `template` or `subject`+`body` is required."
      },
      "ContactBulkCreateBody": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateContact"
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": [
          "contacts"
        ],
        "description": "Bulk create up to 1000 contacts."
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscribed": {
            "type": "boolean",
            "default": true
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/contacts and /api/contacts/upsert."
      },
      "ContactBulkDeleteBody": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 1000
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "maxItems": 1000
          }
        },
        "description": "Bulk delete contacts. Provide either `ids` or `emails` (max 1000 each)."
      },
      "UpdateContactBody": {
        "type": "object",
        "properties": {
          "subscribed": {
            "type": "boolean"
          },
          "customFields": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "description": "Body for PATCH /api/contacts/{id}. `email` is immutable here — use upsert to change addresses."
      },
      "Suppression": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "reason": {
            "type": "string",
            "enum": [
              "HARD_BOUNCE",
              "COMPLAINT",
              "MANUAL",
              "UNSUBSCRIBE"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "SES_WEBHOOK",
              "API",
              "DASHBOARD"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "email",
          "reason",
          "source",
          "createdAt"
        ],
        "description": "A single suppressed-email record."
      },
      "SuppressionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Suppression"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of suppressions."
      },
      "SuppressionCheckResponse": {
        "type": "object",
        "properties": {
          "suppressed": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "enum": [
              "HARD_BOUNCE",
              "COMPLAINT",
              "MANUAL",
              "UNSUBSCRIBE"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "SES_WEBHOOK",
              "API",
              "DASHBOARD"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "suppressed"
        ],
        "description": "Result of GET /api/suppression/{email} — whether the address is suppressed."
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.opened",
                "email.clicked",
                "email.bounced",
                "email.complained",
                "email.failed",
                "contact.created",
                "contact.unsubscribed",
                "contacts.bulk_created"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "DISABLED"
            ]
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "disabledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "lastFour": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "projectId",
          "url",
          "eventTypes",
          "status",
          "consecutiveFailures",
          "createdAt",
          "updatedAt"
        ],
        "description": "A user-managed outbound webhook."
      },
      "WebhookCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Webhook"
              },
              {
                "type": "object",
                "properties": {
                  "secret": {
                    "type": "string",
                    "description": "Plaintext shared secret. Returned ONCE on create."
                  }
                },
                "required": [
                  "secret"
                ]
              }
            ],
            "description": "A user-managed outbound webhook."
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Result of POST /api/webhooks. `secret` is the only time the plaintext is returned — store it securely."
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "List of webhooks for the auth'd project."
      },
      "WebhookGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Webhook"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Single webhook (no secret)."
      },
      "WebhookRotateSecretResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "secret": {
                "type": "string",
                "description": "New plaintext shared secret."
              }
            },
            "required": [
              "id",
              "secret"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/webhooks/{id}/rotate-secret — returns the new plaintext once."
      },
      "WebhookCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "webhookId": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {}
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SUCCESS",
              "FAILED"
            ]
          },
          "attempt": {
            "type": "integer"
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime string"
          }
        },
        "required": [
          "id",
          "webhookId",
          "eventType",
          "payload",
          "status",
          "attempt",
          "createdAt"
        ],
        "description": "An attempted webhook delivery."
      },
      "WebhookCallsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookCall"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of recent calls for a single webhook."
      },
      "TrackEventResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "contact": {
                "type": "string",
                "format": "uuid"
              },
              "event": {
                "type": "string",
                "format": "uuid"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 datetime string"
              }
            },
            "required": [
              "contact",
              "event",
              "timestamp"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/track."
      },
      "VerifyEmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "valid": {
                "type": "boolean"
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "valid"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Response from POST /api/verify — outcome of the syntax/MX/disposable check."
      },
      "EmailListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Cursor-paginated list of emails."
      },
      "EmailGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Email"
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Single email with its events."
      },
      "ListSubscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "membershipId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "CONFIRMED",
                  "UNSUBSCRIBED"
                ]
              },
              "created": {
                "type": "boolean",
                "description": "True when the membership row did not exist before this call."
              },
              "previousStatus": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "PENDING",
                  "CONFIRMED",
                  "UNSUBSCRIBED",
                  null
                ],
                "description": "Status the membership held before this call; null when it did not exist. Use this rather than `created` to describe the transition to the user."
              },
              "confirmToken": {
                "type": "string",
                "description": "Present only when the list has doubleOptIn enabled. Sendly does not send the confirmation email — deliver /api/lists/confirm?token=<confirmToken> to the contact. Valid for 24 hours."
              }
            },
            "required": [
              "membershipId",
              "status",
              "created",
              "previousStatus"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Result of a list-subscribe call."
      },
      "ListUnsubscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "email"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ],
        "description": "Echoes the address that was unsubscribed."
      },
      "CampaignV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of campaigns."
      },
      "CampaignV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "SENDING",
              "PAUSED",
              "SENT",
              "CANCELLED"
            ]
          },
          "subject": {
            "type": "string"
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_recipients": {
                "type": "integer"
              },
              "sent": {
                "type": "integer"
              },
              "delivered": {
                "type": "integer"
              },
              "opened": {
                "type": "integer"
              },
              "clicked": {
                "type": "integer"
              },
              "bounced": {
                "type": "integer"
              }
            },
            "required": [
              "total_recipients",
              "sent",
              "delivered",
              "opened",
              "clicked",
              "bounced"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "subject",
          "audience_type",
          "scheduled_at",
          "sent_at",
          "created_at",
          "stats"
        ],
        "description": "A campaign as exposed on the v1 API."
      },
      "CampaignV1Create": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender address. Its domain must be verified for this project."
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "HEADLESS"
            ],
            "default": "MARKETING"
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT"
            ],
            "description": "`ALL` — every subscribed contact. `FILTERED` — the contacts matching `audience_condition`. `SEGMENT` — the members of `segment_id`."
          },
          "audience_condition": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filter condition: `{ logic: \"AND\" | \"OR\", groups: [{ filters: [{ field, operator, value?, unit? }], conditions?: <nested condition> }] }`. `field` addresses a contact column or a `customFields.<key>` path; `operator` is one of the segment operators (equals, notEquals, contains, greaterThan, lessThan, within, exists, …). Groups combine with `logic`; filters inside one group always combine with AND."
          },
          "segment_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "name",
          "subject",
          "body",
          "from",
          "audience_type"
        ],
        "description": "Body for POST /api/v1/campaigns. `segment_id` is required when `audience_type` is `SEGMENT`, and `audience_condition` is required when it is `FILTERED`."
      },
      "CampaignV1Update": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender address. Its domain must be verified for this project."
          },
          "from_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "reply_to": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "HEADLESS"
            ]
          },
          "audience_type": {
            "type": "string",
            "enum": [
              "ALL",
              "FILTERED",
              "SEGMENT"
            ]
          },
          "audience_condition": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filter condition: `{ logic: \"AND\" | \"OR\", groups: [{ filters: [{ field, operator, value?, unit? }], conditions?: <nested condition> }] }`. `field` addresses a contact column or a `customFields.<key>` path; `operator` is one of the segment operators (equals, notEquals, contains, greaterThan, lessThan, within, exists, …). Groups combine with `logic`; filters inside one group always combine with AND."
          },
          "segment_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "description": "Body for PATCH /api/v1/campaigns/{id}. All fields optional."
      },
      "CampaignV1Deleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Acknowledgement that a campaign was deleted."
      },
      "CampaignV1Send": {
        "type": "object",
        "properties": {
          "scheduled_for": {
            "type": "string",
            "format": "date-time",
            "description": "RFC 3339 timestamp, strictly in the future. Omit to start sending immediately."
          }
        },
        "description": "Body for POST /api/v1/campaigns/{id}/send."
      },
      "CampaignV1Stats": {
        "type": "object",
        "properties": {
          "total_recipients": {
            "type": "integer"
          },
          "sent": {
            "type": "integer"
          },
          "delivered": {
            "type": "integer"
          },
          "opened": {
            "type": "integer"
          },
          "clicked": {
            "type": "integer"
          },
          "bounced": {
            "type": "integer"
          },
          "open_rate": {
            "type": "number"
          },
          "click_rate": {
            "type": "number"
          },
          "bounce_rate": {
            "type": "number"
          },
          "delivery_rate": {
            "type": "number"
          }
        },
        "required": [
          "total_recipients",
          "sent",
          "delivered",
          "opened",
          "clicked",
          "bounced",
          "open_rate",
          "click_rate",
          "bounce_rate",
          "delivery_rate"
        ],
        "description": "Materialized delivery and engagement counters for one campaign."
      },
      "SegmentV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of segments."
      },
      "SegmentV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "DYNAMIC",
              "STATIC"
            ]
          },
          "condition": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filter condition: `{ logic: \"AND\" | \"OR\", groups: [{ filters: [{ field, operator, value?, unit? }], conditions?: <nested condition> }] }`. `field` addresses a contact column or a `customFields.<key>` path; `operator` is one of the segment operators (equals, notEquals, contains, greaterThan, lessThan, within, exists, …). Groups combine with `logic`; filters inside one group always combine with AND."
          },
          "track_membership": {
            "type": "boolean"
          },
          "member_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "condition",
          "track_membership",
          "member_count",
          "created_at",
          "updated_at"
        ],
        "description": "A segment as exposed on the v1 API."
      },
      "SegmentV1Create": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "type": {
            "type": "string",
            "enum": [
              "DYNAMIC",
              "STATIC"
            ],
            "default": "DYNAMIC"
          },
          "condition": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filter condition: `{ logic: \"AND\" | \"OR\", groups: [{ filters: [{ field, operator, value?, unit? }], conditions?: <nested condition> }] }`. `field` addresses a contact column or a `customFields.<key>` path; `operator` is one of the segment operators (equals, notEquals, contains, greaterThan, lessThan, within, exists, …). Groups combine with `logic`; filters inside one group always combine with AND."
          },
          "track_membership": {
            "type": "boolean",
            "default": false,
            "description": "Emit segment entry/exit events as contacts move in and out. Off by default — it costs a membership write per transition."
          }
        },
        "required": [
          "name"
        ],
        "description": "Body for POST /api/v1/segments. `condition` is required when `type` is `DYNAMIC`."
      },
      "SegmentV1Update": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "condition": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filter condition: `{ logic: \"AND\" | \"OR\", groups: [{ filters: [{ field, operator, value?, unit? }], conditions?: <nested condition> }] }`. `field` addresses a contact column or a `customFields.<key>` path; `operator` is one of the segment operators (equals, notEquals, contains, greaterThan, lessThan, within, exists, …). Groups combine with `logic`; filters inside one group always combine with AND."
          },
          "track_membership": {
            "type": "boolean"
          }
        },
        "description": "Body for PATCH /api/v1/segments/{id}. `type` is deliberately absent — it is fixed at creation. `condition` is ignored on a STATIC segment."
      },
      "SegmentV1Deleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Acknowledgement that a segment was deleted."
      },
      "SegmentContactV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentContactV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of the contacts belonging to a segment."
      },
      "SegmentContactV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "subscribed": {
            "type": "boolean"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "email",
          "subscribed",
          "custom_fields",
          "created_at"
        ],
        "description": "A contact belonging to a segment."
      },
      "WorkflowV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of workflows."
      },
      "WorkflowV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "trigger_type": {
            "type": "string",
            "enum": [
              "EVENT",
              "MANUAL",
              "SCHEDULE"
            ]
          },
          "event_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trigger event for `EVENT` workflows; null for the other trigger types."
          },
          "allow_reentry": {
            "type": "boolean"
          },
          "max_executions_per_hour": {
            "type": [
              "integer",
              "null"
            ]
          },
          "version": {
            "type": "integer",
            "description": "Incremented on every structural (step/transition) change."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "enabled",
          "trigger_type",
          "event_name",
          "allow_reentry",
          "max_executions_per_hour",
          "version",
          "created_at",
          "updated_at"
        ],
        "description": "An automation workflow as exposed on the v1 API."
      },
      "WorkflowCreateV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "event_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "The custom event that starts this workflow, e.g. `user.signup`."
          },
          "enabled": {
            "type": "boolean",
            "description": "Workflows are created disabled. A workflow can only be enabled once every step is configured."
          },
          "allow_reentry": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "event_name"
        ],
        "description": "Body for POST /api/v1/workflows."
      },
      "WorkflowUpdateV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "event_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "enabled": {
            "type": "boolean"
          },
          "allow_reentry": {
            "type": "boolean"
          },
          "max_executions_per_hour": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0,
            "description": "Per-workflow start rate cap. `null` removes the cap."
          }
        },
        "description": "Body for PATCH /api/v1/workflows/{id}. Every field is optional; omitted fields are left unchanged. Changing the trigger while executions are running answers 409."
      },
      "WorkflowDeletedV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "description": "Confirmation that a workflow was deleted."
      },
      "WorkflowExecutionV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowExecutionV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of workflow executions, newest first."
      },
      "WorkflowExecutionV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "RUNNING",
              "WAITING",
              "COMPLETED",
              "EXITED",
              "FAILED",
              "CANCELLED"
            ]
          },
          "current_step_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "exit_reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workflow_id",
          "contact_id",
          "status",
          "current_step_id",
          "exit_reason",
          "started_at",
          "completed_at"
        ],
        "description": "One contact's run through a workflow."
      },
      "WorkflowExecutionStartV1": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Contact to enter the workflow. Must belong to this project."
          },
          "context": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {},
              "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
            },
            "description": "Extra variables merged into the contact's data for this run."
          }
        },
        "required": [
          "contact_id"
        ],
        "description": "Body for POST /api/v1/workflows/{id}/executions."
      },
      "WorkflowStatsV1": {
        "type": "object",
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "total": {
            "type": "integer"
          },
          "by_status": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Execution counts keyed by status; a status with no executions is absent."
          },
          "completion_rate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Completed ÷ finished executions (0–1). Null until at least one execution has finished."
          },
          "avg_duration_ms": {
            "type": [
              "number",
              "null"
            ]
          },
          "emails": {
            "type": "object",
            "properties": {
              "sent": {
                "type": "integer"
              },
              "opened": {
                "type": "integer"
              },
              "clicked": {
                "type": "integer"
              }
            },
            "required": [
              "sent",
              "opened",
              "clicked"
            ]
          },
          "conversions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "goal_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "event_name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "goal_id",
                "name",
                "event_name",
                "count"
              ]
            }
          }
        },
        "required": [
          "workflow_id",
          "total",
          "by_status",
          "completion_rate",
          "avg_duration_ms",
          "emails",
          "conversions"
        ],
        "description": "Execution, email and conversion totals for one workflow."
      },
      "ListSubscribe": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "data": {
            "type": "object",
            "additionalProperties": {},
            "description": "Custom fields to upsert onto the contact as part of subscribing."
          },
          "allowResubscribe": {
            "type": "boolean",
            "default": false,
            "description": "Permission to reverse an earlier opt-out. When the email already has an UNSUBSCRIBED membership on this list, the call fails with 409 RESUBSCRIBE_CONFIRMATION_REQUIRED unless this is `true`. Send `true` only when the contact is acting for themselves — a public subscribe form they submitted is affirmative consent — never for an operator-initiated add."
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/lists/{id}/subscribe."
      },
      "ListUnsubscribe": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/lists/{id}/unsubscribe."
      },
      "AddDomainBody": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "domain": {
            "type": "string",
            "minLength": 3,
            "maxLength": 253
          },
          "region": {
            "type": "string",
            "enum": [
              "us-east-1",
              "us-west-2",
              "eu-west-1"
            ],
            "description": "Override SES region for this domain. Defaults to the project region or the env default. Required to match an existing project region."
          }
        },
        "required": [
          "domain"
        ],
        "description": "Body for POST /api/domains. `projectId` is optional for API-key auth (derived from key) and required for session auth. `region` pins the SES region; on the first domain it locks the project, after that it must match the project's region."
      },
      "CreateTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "replyTo": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "HEADLESS"
            ],
            "default": "MARKETING"
          }
        },
        "required": [
          "name",
          "subject",
          "body",
          "from"
        ],
        "description": "Body for POST /api/templates."
      },
      "UpdateTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "subject": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "fromName": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "replyTo": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSACTIONAL",
              "MARKETING",
              "HEADLESS"
            ]
          }
        },
        "description": "Body for PATCH /api/templates/{id}."
      },
      "CreateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.opened",
                "email.clicked",
                "email.bounced",
                "email.complained",
                "email.failed",
                "contact.created",
                "contact.unsubscribed",
                "contacts.bulk_created"
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "url",
          "eventTypes"
        ],
        "description": "Body for POST /api/webhooks — register a user webhook for one or more events."
      },
      "UpdateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email.sent",
                "email.delivered",
                "email.opened",
                "email.clicked",
                "email.bounced",
                "email.complained",
                "email.failed",
                "contact.created",
                "contact.unsubscribed",
                "contacts.bulk_created"
              ]
            },
            "minItems": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PAUSED",
              "DISABLED"
            ]
          }
        },
        "description": "Body for PATCH /api/webhooks/{id}."
      },
      "AddSuppression": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "reason": {
            "type": "string",
            "enum": [
              "HARD_BOUNCE",
              "COMPLAINT",
              "MANUAL",
              "UNSUBSCRIBE"
            ],
            "default": "MANUAL"
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/suppression — manually add an email to the suppression list."
      },
      "TrackEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "subscribed": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
          }
        },
        "required": [
          "event",
          "email"
        ],
        "description": "Body for POST /api/track — record a custom event for a contact."
      },
      "EventV1List": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventV1"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `after` to fetch the next page. `null` on the last page."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "description": "Cursor-paginated list of events, newest first."
      },
      "EventV1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "contact_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "email_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "data": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "description": "The payload recorded with the event, or null."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "contact_id",
          "email_id",
          "data",
          "created_at"
        ],
        "description": "A recorded custom event."
      },
      "EventTrackV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Event name, e.g. `user.signup`."
          },
          "contact_id": {
            "type": "string",
            "format": "uuid",
            "description": "Contact the event belongs to. Must already exist in this project — unlike the legacy `POST /api/track`, this endpoint never creates contacts. Omit for a project-level event."
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {},
              "description": "Arbitrary JSON value (string, number, boolean, null, array, or object)."
            },
            "description": "Arbitrary event payload."
          }
        },
        "required": [
          "name"
        ],
        "description": "Body for POST /api/v1/events."
      },
      "EventNamesV1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "data"
        ],
        "description": "Every distinct event name in the project, most frequent first."
      },
      "EventStatsV1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "name",
                "count"
              ]
            }
          },
          "window": {
            "$ref": "#/components/schemas/AnalyticsWindowV1"
          }
        },
        "required": [
          "data",
          "window"
        ],
        "description": "Per-name event counts over the applied window."
      },
      "AnalyticsWindowV1": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "from",
          "to"
        ],
        "description": "The time range this response was computed over, after the 90-day clamp."
      },
      "AnalyticsTimeseriesV1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "emails": {
                  "type": "integer"
                },
                "delivered": {
                  "type": "integer"
                },
                "opens": {
                  "type": "integer"
                },
                "clicks": {
                  "type": "integer"
                },
                "bounces": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "emails",
                "delivered",
                "opens",
                "clicks",
                "bounces"
              ]
            }
          },
          "window": {
            "$ref": "#/components/schemas/AnalyticsWindowV1"
          }
        },
        "required": [
          "data",
          "window"
        ],
        "description": "Daily email counters across the window. Every day in range is present, zero-filled."
      },
      "AnalyticsCampaignStatsV1": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "active": {
            "type": "integer",
            "description": "Campaigns in DRAFT or SCHEDULED."
          },
          "completed": {
            "type": "integer"
          },
          "average_open_rate": {
            "type": "number",
            "description": "Percentage, one decimal place."
          },
          "average_click_rate": {
            "type": "number"
          },
          "window": {
            "$ref": "#/components/schemas/AnalyticsWindowV1"
          }
        },
        "required": [
          "total",
          "active",
          "completed",
          "average_open_rate",
          "average_click_rate",
          "window"
        ],
        "description": "Campaign counters and engagement over the window."
      },
      "AnalyticsTopCampaignsV1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "subject": {
                  "type": "string"
                },
                "sent": {
                  "type": "integer"
                },
                "opened": {
                  "type": "integer"
                },
                "clicked": {
                  "type": "integer"
                },
                "open_rate": {
                  "type": "number"
                },
                "click_rate": {
                  "type": "number"
                }
              },
              "required": [
                "id",
                "subject",
                "sent",
                "opened",
                "clicked",
                "open_rate",
                "click_rate"
              ]
            }
          },
          "window": {
            "$ref": "#/components/schemas/AnalyticsWindowV1"
          }
        },
        "required": [
          "data",
          "window"
        ],
        "description": "Sent campaigns ranked by open rate."
      },
      "UsageV1": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "custom"
            ],
            "description": "`custom` when an operator set per-category limits, `pro` on an active subscription or store entitlement, else `free`."
          },
          "monthly": {
            "type": "object",
            "properties": {
              "emails_sent": {
                "type": "integer"
              },
              "limit": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Monthly cap on the total. Null when per-category limits govern instead."
              },
              "categories": {
                "type": "object",
                "properties": {
                  "transactional": {
                    "type": "object",
                    "properties": {
                      "emails_sent": {
                        "type": "integer"
                      },
                      "limit": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "emails_sent",
                      "limit"
                    ]
                  },
                  "campaign": {
                    "type": "object",
                    "properties": {
                      "emails_sent": {
                        "type": "integer"
                      },
                      "limit": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "emails_sent",
                      "limit"
                    ]
                  },
                  "workflow": {
                    "type": "object",
                    "properties": {
                      "emails_sent": {
                        "type": "integer"
                      },
                      "limit": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "emails_sent",
                      "limit"
                    ]
                  },
                  "inbound": {
                    "type": "object",
                    "properties": {
                      "emails_sent": {
                        "type": "integer"
                      },
                      "limit": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "emails_sent",
                      "limit"
                    ]
                  }
                },
                "required": [
                  "transactional",
                  "campaign",
                  "workflow",
                  "inbound"
                ]
              }
            },
            "required": [
              "emails_sent",
              "limit",
              "categories"
            ]
          },
          "daily": {
            "type": "object",
            "properties": {
              "emails_sent": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Today's sends. Null when the counter could not be read."
              },
              "limit": {
                "type": "integer"
              },
              "trust_tier": {
                "type": "string",
                "enum": [
                  "NEW",
                  "ESTABLISHED",
                  "TRUSTED"
                ]
              }
            },
            "required": [
              "emails_sent",
              "limit",
              "trust_tier"
            ]
          }
        },
        "required": [
          "plan",
          "monthly",
          "daily"
        ],
        "description": "Current email usage against the limits that are actually enforced."
      },
      "VerifyEmail": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "description": "Body for POST /api/verify — validate email syntax, MX, disposable, etc."
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/campaigns": {
      "get": {
        "operationId": "v1ListCampaigns",
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "Cursor-paginated list of campaigns, newest first. Pass the previous response's `next_cursor` as `after` to page forward; `has_more` is false and `next_cursor` is null on the last page.\n\nRequires the `campaigns:read` scope — View your campaigns and their performance.\n\nUnlike the legacy `/api/*` endpoints, v1 responses are the bare payload (no `{ success, data }` envelope) and errors are RFC 9457 problem documents.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque cursor from a previous response's `next_cursor`."
            },
            "required": false,
            "description": "Opaque cursor from a previous response's `next_cursor`.",
            "name": "after",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignV1List"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_api_key` or `invalid_session` — missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`scope_missing`, `project_access_denied`, or `project_disabled`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "`validation_error` — query, path, or body parameters did not match the schema.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — see `Retry-After` and the `RateLimit` headers.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v1CreateCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Create a campaign in `DRAFT`. Creating never sends — `POST /api/v1/campaigns/{id}/send` is the only operation that puts mail on the wire — so a campaign can be built up and reviewed before it costs anything.\n\nThe `from` address is checked against this project's verified domains before the campaign is written, so a campaign never exists with a sender it cannot use.\n\n`segment_id` is required when `audience_type` is `SEGMENT`; `audience_condition` is required when it is `FILTERED`. Both answer 422 when missing.\n\nRequires the `campaigns:write` scope — Create, edit, schedule, and send your campaigns.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "Replay-safety key (24h TTL). Reuse it only to retry the identical request."
            },
            "required": false,
            "description": "Replay-safety key (24h TTL). Reuse it only to retry the identical request.",
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignV1Create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignV1"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_api_key` or `invalid_session` — missing or invalid credentials.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`scope_missing`, `project_access_denied`, or `project_disabled`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`resource_not_found` — `segment_id` names a segment that does not belong to this project.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` — a request with this `Idempotency-Key` is still in flight. Retry shortly.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "`validation_error` — the request did not match the schema; or `idempotency_key_reused` — this `Idempotency-Key` was already spent on a request with a different body. A key names ONE request, so it is never silently served another one's result: send a new key.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited` — see `Retry-After` and the `RateLimit` headers.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
[...]
